body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    padding: 50px;
    transition: all 0.3s;
}

nav {
    text-align: right;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}